/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1, h2 {
  font-family: impact;
}

p, ul, li {
  font-family: arial;
}

a:link, a:visited {
  color: #978D83;
}

a:hover {
  color: #DE6B28;
}

.comedian-box {
  color: #EEEEEE;
  background-color: #233B66;
  padding: 5px;
  border: 3px solid #DE6B28;
  margin: 2px;
  height:575px;
  width:333px;
  display: inline-block;
  vertical-align: top;
}

.comedian-image {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #EEEEEE;
  height:200px;
  width:200px;
  display: block;
  vertical-align: bottom;
}

.comedian-link {
  text-align: center;
}

#nav-bar {
  color: #EEEEEE;
  background-color: #233B66;
  padding: 10px;
  border-bottom: 5px solid #978D83;
  text-align: center;
}

#statistics {
  text-align: center;
  border: 5px solid #438696;
  padding: 5px;
  margin: 5px;
}
